*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: hsl(192, 100%, 9%);

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
img{
    width: 100%;
}
header img{
    width: 100px;
}
header button{
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 50px;
    background: #fff;
    font-weight: 700;
    font-family: inherit;

}



header,.card1{
    
    background-color: hsl(193, 100%, 96%);
    background-image: url(img/bg-hero-mobile.svg);
    background-size: cover;   
}


.cards-containers .part1 h1{
    font-size: 30px;
    
}
.container{
    width: 90%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 3em 0 2em;
    
   
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.cards-containers{
    margin-top: 1.5em;
    padding: 1em;
    border: 2px solid white;
    box-shadow: 1px 1px 5px #ddd;
    border-radius: 10px;

}
.cardimagen{
    width: 250px;
    order: 2;
    margin: 2em 0;
    

}
.cardfinal{
    padding: 1em;
    margin-top: 4em;
    margin-bottom: 1em;
    background-color: white;
    position: relative;
    top: 100px;
}
.buttonfinal{

    
}

