*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: hsl(192, 100%, 9%);

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
img{
    width: 100%;
}
header img{
    width: 100px;
}
header button{
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 50px;
    background: #fff;
    font-weight: 700;
    font-family: inherit;
    border: none;
    outline: none;

}

header,.wrapper{
    
    background-color: hsl(193, 100%, 96%);
    background-image: url(img/bg-hero-mobile.svg);
    background-size: cover;   
}


.cards-containers .part1 h1{
    font-size: 30px;
    
}
.container{
    width: 90%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 3em 0 2em;
    
   
}
.flex1{
    display: flex;
    flex-direction: column;

}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}
.cards-containers{
    margin-top: 1.5em;
    padding: 1em;
    border: 2px solid white;
    box-shadow: 1px 1px 5px #ddd;
    border-radius: 10px;

}
.cardimagen{
    width: 250px;
    order: 2;
    margin: 2em 0;
    

}
.cardfinal{
    padding: 1em;
    margin-top: 4em;
    margin-bottom: 1em;
    background-color: white;
    position: relative;
    top: 100px;
}
.buttonfinal{

    padding: 5px 25px;
    border-radius: 50px;
    background: #fff;
    border: none;
    text-decoration: none;
    font-weight: 700;
    font-family: inherit;
    background: hsl(322, 100%, 66%);
    color: #fff;
    
}
.button2{
    padding: 5px 25px;
    border-radius: 50px;
    background: #fff;
    border: none;
    outline: none;
    font-weight: 700;
    font-family: inherit;
    background: hsl(322, 100%, 66%);
    padding: 10px 60px;
    margin: 4em 0;
    color: #fff
    


}
.footer{
    background-color: hsl(192, 100%, 9%);
    color: hsla(193, 100%, 96%, 0.75);
    margin-bottom: 1.5em;

}
.footer-div {
    margin-bottom: 3em;
}



.logo-footer {

    width: 140px;
    margin: 4em 0 1em;
}
.footer-innerdiv {
    display: flex;
    align-items: center; 
    margin-bottom: 1em;
}

.footer-icons {
    width: 15px;
    margin-right: 1em;
}
.footer-list {
    list-style: none;
    padding: 0;
    margin-top: 1em;
}
.footer-list-items {
    margin-bottom: 1em;
}
.socials {
    margin-bottom: 1.5em;
}
.socials-and-copyright {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    
    align-items: center;
    font-size: 12px;
}

@media screen and (min-width: 1020px) and (max-width: 1500px) {

    header {
        padding: 2em;
    }

    header,
    .wrapper {
        background-color: hsl(193, 100%, 96%);
        background-image: url("img/bg-hero-mobile.svg");
        background-size: cover;
    }

    .container {
        text-align: left;
    }

    .flex {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .part1,
    .part2 {
        width: 50%;
    }

    .part1 {
        padding: 1.3em;
    }

    .break-word {
        display: block;
    }

    .cardtexto {
        width: 50%;
    }

    .cardtexto {
        order: -2;
        padding: 1.5em;
    }

    .order-reversed {
        order: 2;
    }

    .cardfinal {
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5em; 
    }

    .footer-list,
    .socials-and-copyright {
        margin-top: 0;
    }

    .footer-innerdiv  {
        max-width: 400px;
    }

    .socials-and-copyright {
        justify-content: space-between;
    }

}







    





